include README.md
include LICENSE
recursive-include src/suitable_django_autocomplete/static *
recursive-include src/suitable_django_autocomplete/templates *
exclude example_project/
recursive-exclude example_project/ *